$color-primary: #1074c6;
$color-primary-dark: #0c5591;

$color-success: rgba(24, 163, 38, 0.08);
$color-negotiation: rgba(255, 135, 38, 0.08);
$color-proposal: rgba(29, 145, 237, 0.08);
$color-lead: rgba(229, 37, 23, 0.08);

$color-success-dark: rgba(24, 163, 38, 0.16);
$color-negotiation-dark: rgba(255, 135, 38, 0.16);
$color-proposal-dark: rgba(29, 145, 237, 0.16);
$color-lead-dark: rgba(229, 37, 23, 0.16);

$color-theme: #f0f3fa;
$color-theme-light: #fff;
$color-text: #162029;
$color-text-secondary: #646e7d;
$color-text-intermediate: #3d4753;
$color-theme-hover: #f9f9f9;

$color-theme-dark: #162029;
$color-theme-dark-light: #1e293b;
$color-text-dark: #f0f3fa;
$color-text-secondary-dark: #f0f3fa;
$color-text-intermediate-dark: #fff;
$color-theme-hover-dark: #162029;

$color-border: #dfe5f3;
