$padding: 16px;
$border-radius: 8px;
$margin: 40px;
$padding-bottom: 32px;
$cell-padding: 0 8px 0 12px;
$cell-title-padding: 12px 12px 16px 12px;
$gap: 8px;
$background-transition: background-color 0.3s ease;
