@use "reset";
@use "accessibility";
@use "typography";
@use "buttons";

:root {
  --primary-color: #{$color-primary};
  --theme-color: #{$color-theme};
  --theme-light: #{$color-theme-light};
  --text-color: #{$color-text};
  --text-color-secondary: #{$color-text-secondary};
  --text-color-intermediate: #{$color-text-intermediate};
  --border-color: #{$color-border};
  --theme-hover: #{$color-theme-hover};
  --success-color: #{$color-success};
  --negotiation-color: #{$color-negotiation};
  --proposal-color: #{$color-proposal};
  --lead-color: #{$color-lead};
}

.theme-dark {
  --primary-color: #{$color-primary-dark};
  --theme-color: #{$color-theme-dark};
  --theme-light: #{$color-theme-dark-light};
  --text-color: #{$color-text-dark};
  --text-color-secondary: #{$color-text-secondary-dark};
  --text-color-intermediate: #{$color-text-intermediate-dark};
  --border-color: #{$color-border};
  --theme-hover: #{$color-theme-hover-dark};
  --success-color: #{$color-success-dark};
  --negotiation-color: #{$color-negotiation-dark};
  --proposal-color: #{$color-proposal-dark};
  --lead-color: #{$color-lead-dark};
}

html,
body {
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: $regular;
  line-height: 1.25em;
  height: auto;
  min-height: 100vh;
  transition:
    $background-transition,
    color 0.3s ease;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $margin;
}
