@use "reset";

:root {
  --primary-color: #{$color-primary};
  --theme-color: #{$color-theme};
  --theme-light: #{$color-theme-light};
  --text-color: #{$color-text};
  --text-color-secondary: #{$color-text-secondary};
  --text-color-intermediate: #{$color-text-intermediate};
  --border-color: #{$color-border};
  --theme-hover: #{$color-theme-hover};
  --success-color: #{$color-success};
  --negotiation-color: #{$color-negotiation};
  --proposal-color: #{$color-proposal};
  --lead-color: #{$color-lead};
}

.theme-dark {
  --primary-color: #{$color-primary-dark};
  --theme-color: #{$color-theme-dark};
  --theme-light: #{$color-theme-dark-light};
  --text-color: #{$color-text-dark};
  --text-color-secondary: #{$color-text-secondary-dark};
  --text-color-intermediate: #{$color-text-intermediate-dark};
  --border-color: #{$color-border};
  --theme-hover: #{$color-theme-hover-dark};
  --success-color: #{$color-success-dark};
  --negotiation-color: #{$color-negotiation-dark};
  --proposal-color: #{$color-proposal-dark};
  --lead-color: #{$color-lead-dark};
}

html,
body {
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: $regular;
  line-height: 1.25em;
  height: auto;
  min-height: 100vh;
  transition:
    $background-transition,
    color 0.3s ease;
}

.h1-style,
h1 {
  @include h1-style;
}

.h2-style,
h2 {
  @include h2-style;
}

p,
th,
td {
  @include body-style;
}

.btn {
  display: flex;
  height: 40px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: $gap;
  background-color: transparent;
  color: $color-primary;
  border: none;
  cursor: pointer;
  font-family: $regular;
  opacity: 1;
  transition: opacity 0.3s ease;

  .theme-dark & {
    color: $color-text-dark;
  }

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
